# Data and models
/data/
/models/

# Python
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Model files
*.pt
*.bin
*.safetensors

# OS
.DS_Store
Thumbs.db

# Logs (if needed later)
# /logs/

#venv
/venv/
.venv/
__pycache__/
*.pyc

#Cached Files
*.npy

# LIME outputs
assets/lime_examples/
assets/lime_html/